html {
    background: url("./assets/san-fran-logo.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  /* min-height: 100vh; */
  /* background-color: #004d7e; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: auto;
  min-width: 600px; */
}
/* 
.App-background {
  height: 200px;
  width: 200px;
} */

.grid-wrapper {
  /* position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.25rem;
  /* min-width: 460px;
  min-height: 460px; */
  /* padding-left: 67px; */
}

/* @media only screen and (max-width: 600px) and (max-height: 779px){
  .grid {
    position: absolute;
    left: 62px;
    top: 156px;
  }
}

@media only screen and (max-width: 600px) and (min-height: 779px){
  .grid {
    position: absolute;
    top: calc(50% - 222px);
    left: 64px;
  }
}

@media only screen and (min-width: 600px) and (max-height: 779px){
  .grid {
    position: absolute;
    top: 156px;
    left: calc(50% - 235px);
  }
} */

.grid {
  background-size: cover;
  background-image: url("./assets/background2.png");
  height: 340px;
  width: 340px;
  /* min-width: 460px;
  height: 400px;
  margin-top: 80px;
  display: flex;
  padding-right: 10px; */
}

.grid:first-of-type {
  margin-bottom: 2rem;
}

.grid-container {
  font-size: 24px;
  font-weight: bold;
  margin-top: 63px;
  height: 75%;
  width: 89%;
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
  margin-left: 13px;
  /* margin-top: 30px;
  width: 20%;
  height: 100%; */
  /* display: flex; */
}

.grid-item {
  position: relative;
  text-align: center;
  height: 100%;
  /* height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  cursor: pointer;
  position: relative; */
}

.selected-img {
  width: 85px;
  position: absolute;
  top: -21px;
  left: -14px;
}


/* Tablet View */
@media only screen and (max-width: 767px) {
  .grid-wrapper {
    margin-top: 3rem;
  }
}

/* Mobile View */
@media only screen and (max-width: 480px) {
  .grid-wrapper {
    margin-top: 1rem;
  }
  .grid {
    height: 305px;
    width: 305px;
  }
}

/* Mobile View (Extra Small Screens */
@media only screen and (max-width: 340px) {
  .grid-wrapper {
    margin-top: 1rem;
  }
  .grid-container {
    margin-top: 49px;
    width: 87%;
    margin-left: 12px;
  }
  .grid {
    height: 260px;
    width: 260px;
  }
  .selected-img {
    width: 75px;
  }
}
